<section id="index">
	<h1>ADIEU, MES AMIS.</h1>

	<p>Taking care of your secrets was an exciting assignment. But times have changed and today, with new systems approaching, I'm no longer needed.
	</p>

	<p>As I always say, security begins with your attitude, so please stay alert and don't rely on technology only. Enough said. Let's not get sentimental, but I will miss you somehow.
	</p>

	<p>
		À bientôt,<br>
		Benoît
	</p>

	<img src="assets/img/index/ben_logo.jpg" class="ben-logo">

	<div class="content-center">
		<p>
			We kept the mean streets alive.<br>
			Want to take a walk with ben?
		</p>

		<a href="">ENTER THE MEAN STREETS</a>
	</div>

	
</section>





















